@charset "utf-8";
body, td, th {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 1010px;
	color: #696969;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 100px;
	position: relative;
	}

.social {
	display: inline-block;
	margin-top: 18px;
	position: absolute;
	margin-left: 590px;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  max-width: 1010px;
  width: 100%;
  margin-left: 30px;}

.gallery > .col2 {
  margin-left: 30px;
}


.titles {
	display: inherit;
	margin-top: 30px;
	position: relative;
	width: 460px;
}

.titles_sq {
	display: inline-block;
	width: 200px;
	height:200px;
	position: relative;
	text-align:center;
}

.titles_sq_2 {
	display: inline-block;
	width: 200px;
	height: 200px;
	margin-left: 45px;
	position: relative;
	text-align: center;
}
.name_block {
	height: 50px;
	line-height: 50px;
	background-color: #FFFFFF;
	position: absolute;
	text-align: center;
	font-family: roboto;
	display: none;
	z-index: 8888;
	right: 40px;
	bottom: 40px;
	padding-right: 20px;
	padding-left: 30px;
	vertical-align: middle;
	font-size: 25px;
	font-weight: 400;
	color: #f5002d;
}
.titles:hover .name_block {
	display: inline-block;
}

.titles_sq:hover .name_block {
	display: inline-block;
}

.titles_sq_2:hover .name_block {
	display: inline-block;
}


.sign {
	margin-left: 825px;
	margin-top: 30px;
	
}
